body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #373a3C;
}

header {
  background-image: url('../img/bg-portafolio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 700px;
}


nav{
  background-color: #000;
  color: #FFF;
}


h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

h4 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

h5 {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #8F8F8F;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.titulo{
  width: 60%;
}


.tam{
  width: 20%

}

.img-testimonio{
  width: 300px;
  height: auto;
}

.linea-titulos{
  height: 5px;
  background-color: #CFCFCF;
}

.texto-portada{
  margin-bottom: 100px;
}

.carousel-indicators {
  top: 300px;
}

#puntos-testimonio{
    top: 400px;

}

#clientesfelices{

}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #373A3C;
}

#logo{
  width: 30px;
}

footer{
  background-color: #000;
}
